services:
  expo:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vitrinova-expo
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
      - EXPO_MODE=web
      - EXPO_HOST=tunnel
      - EXPO_PORT=8081
      - EXPO_WEB_PORT=19006
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "19006:19006"
      - "9006:19006"
    stdin_open: true
    tty: true
